@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
}
/* Add your CSS styles for the converter here */
body {
  width: 100%;
  height: 100vh;
  background: linear-gradient(45deg, #0a0a0a, #3a4452);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: #b6b1b1dc;
}
.converter {
  width: 420px;
  margin: 0 auto;
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 20px;
  background: linear-gradient(45deg, #0a0a0a, #3a4452);
  display: flex;
  justify-content: space-evenly;
  color: #ffffffdc;
  font-size: 22px;
}
label {
  margin: 16px;
}
.container {
  margin: 10px;
}
input {
  width: 90%;
  border: 1px solid #717377;
  box-shadow: 0px 3px 15px rgba(113, 115, 119, 0.5);
  border-radius: 10px;
  padding: 3px;
  margin: 10px 10px;
  background: transparent;
  font-size: 50px;
  text-align: left;
  cursor: pointer;
  color: #ffffff;
}
.formula {
  display: flex;
  flex-direction: row;
}
